{
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "eslintIntegration": true,
    "plugins": ["@prettier/plugin-pug"],
    "pugWrapAttributesThreshold": 0,
    "pugAttributeSeparator": "none",
    "pugFramework": "vue",
    "pugSingleQuote": false,
    "pugEmptyAttributes": "none"
}
